In [7]:
import pandas as pd
afile = '../data/raw/gene_disease.xlsx'
df = pd.read_excel(afile, skiprows=[0,1,2])
df.groupby('Gene').size().reset_index().sort_values(by=0, ascending=False)

       Gene  0
0     ABCC9  1
83     NEBL  1
97    RBM20  1
96     RAF1  1
95   PTPN11  1
94   PRKAG2  1
93   POU4F3  1
92      PLN  1
91     PKP2  1
90    PDZD7  1
89   PCDH15  1
88     OTOF  1
87     OTOA  1
86     NRAS  1
85   NKX2-5  1
84     NEXN  1
82    MYOZ2  1
1     ACTA2  1
81    MYO7A  1
80     MYO6  1
79    MYO3A  1
78    MYO1A  1
77   MYO15A  1
76    MYLK2  1
75     MYL3  1
74     MYL2  1
73     MYH9  1
72     MYH7  1
71     MYH6  1
70    MYH14  1
..      ... ..
63   MAP2K1  1
62   LRTOMT  1
61   LOXHD1  1
60     LMNA  1
59   LHFPL5  1
58     LDB3  1
57    LAMA4  1
56     KRAS  1
55    KCNQ4  1
54    KCNQ1  1
53    KCNE2  1
52    KCNE1  1
51      JUP  1
50     JAG1  1
49    ILDR1  1
48     HRAS  1
47      HGF  1
46   GRXCR1  1
45    GRHL2  1
44    GPSM2  1
43    GPR98  1
42     GJB6  1
41     GJB3  1
40     GJB2  1
39    GIPC3  1
38     FHL2  1
37     FBN1  1
36     EYA4  1
35     EYA1  1
131    WFS1  1

[132 rows x 2 columns]

In [8]:
df.head()

    Gene                      Disease  # of probands  Unique  Total
0  ABCC9               Cardiomyopathy           2058      56   1682
1  ACTA2  Connective tissue disorders            201       4      4
2  ACTC1               Cardiomyopathy           5074      28    161
3  ACTG1                 Hearing Loss            545      30    958
4  ACTN2               Cardiomyopathy           2775      78   4766

In [9]:
df.groupby('Disease').size().reset_index().sort_values(by=0, ascending=False)

                       Disease   0
2                 Hearing Loss  67
0               Cardiomyopathy  49
3                  Rasopathies  12
1  Connective tissue disorders   4